[package]
edition = "2021"
name = "sver"
version = "0.1.14"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.70"
clap = {version = "4.2.1", features = ["derive"]}
env_logger = "0.10.0"
git2 = "0.16.1"
libgit2-sys = {version = "0.14.2", features = ["vendored-openssl"]}
log = "0.4.17"
once_cell = "1.17.1"
regex = "1.7.1"
serde = {version = "1.0.158", features = ["derive"]}
serde_json = "1.0.94"
sha2 = "0.10.6"
toml = "0.7.3"

[dev-dependencies]
chrono = "0.4.24"

[dev-dependencies.uuid]
features = [
  "v4", # Lets you generate random UUIDs
  "fast-rng", # Use a faster (but still sufficiently random) RNG
  "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]
version = "1.3.0"
