[package]
edition = "2021"
name = "sver"
version = "0.1.15"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.72"
clap = {version = "4.3.17", features = ["derive"]}
env_logger = "0.10.0"
git2 = "0.17.1"
libgit2-sys = {version = "0.15.1", features = ["vendored-openssl"]}
log = "0.4.19"
once_cell = "1.18.0"
regex = "1.9.1"
serde = {version = "1.0.173", features = ["derive"]}
serde_json = "1.0.96"
sha2 = "0.10.7"
toml = "0.7.6"

[dev-dependencies]
chrono = "0.4.26"

[dev-dependencies.uuid]
features = [
  "v4", # Lets you generate random UUIDs
  "fast-rng", # Use a faster (but still sufficiently random) RNG
  "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]
version = "1.4.1"
